version: '3.8'

services:
  main_app:
    build:
      context: .
      dockerfile: Dockerfile.main.main
    ports:
      - "8000:8000"
    depends_on:
      - db

  gemini_app:
    build:
      context: .
      dockerfile: Dockerfile.main.gemini
    ports:
      - "8001:8000"
    depends_on:
      - db

  db:
    image: postgres:latest
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: app_db
    ports:
      - "5432:5432"
