services:
  main_chatgpt:
    build:
      context: .
      dockerfile: Dockerfile.chatgpt
    ports:
      - "8000:8000"
    depends_on:
      - db

  main_gemini:
    build:
      context: .
      dockerfile: Dockerfile.gemini
    ports:
      - "8000:8000"
    depends_on:
      - db

  main_gemini_frames:
    build:
      context: .
      dockerfile: Dockerfile.gemini_frames
    ports:
      - "8000:8000"
    depends_on:
      - db

  db:
    image: postgres:latest
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: app_db
    ports:
      - "5432:5432"
